<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link  rel="stylesheet" href="/css/footer.css"/>
</head>
<body>
    <footer>
        <div class="footer_help">
            <p class="footer_p_one"><span>帮助中心</span></p>
            <div class="footer_toggle_box">
            <div class="footer_nav">
                <dl>
                    <dt><a href="javascript:;">购物指南</a></dt>
                    <dd><a href="javascript:;">购物流程</a></dd>
                    <dd><a href="javascript:;">蛋糕尺寸</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">订购范围</a></dt>
                    <dd><a href="javascript:;">地图查询</a></dd>
                    <dd><a href="javascript:;">团购业务</a></dd>
                    <dd><a href="javascript:;">北京门店</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">公司服务</a></dt>
                    <dd><a href="javascript:;">储值卡</a></dd>
                    <dd><a href="javascript:;">官网营业资质</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">企业招聘</a></dt>
                    <dd><a href="javascript:;">好利来招聘</a></dd>
                    <dd><a href="javascript:;">黑天鹅招聘</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">售后服务</a></dt>
                    <dd><a href="javascript:;">投诉渠道</a></dd>
                    <dd><a href="javascript:;">客服中心</a></dd>
                    <dd><a href="javascript:;">加盟维权</a></dd>
                </dl> 
                <dl>
                    <dt><a href="javascript:;">友情链接</a></dt>
                    <dd><a href="javascript:;">黑天鹅蛋糕官网</a></dd>
                    <dd><a href="javascript:;">罗红摄影艺术馆</a></dd>
                    <dd><a href="javascript:;">百度</a></dd>
                </dl>    
            </div>
        </div>
        </div>
        <span class="footer_line"></span>
        <div class="footer_base">
        <div class="footer_details">
            <p> Copyright2010 ©北京市好利来食品有限公司 版权所有<br/> 京icp备15012142号<br/>好利来官方邮箱：info@holiland.com </p>
            <div class="footer_wechat">
                <p> FOLLOW US</p>
                <div class="footer_wechat_icon"></div>
             </div>
        </div>
        <p class="footer_phone">客服电话：400-700-5999</p>
        <div class="footer_message">
                <p> 注册地址：北京市朝阳区观音堂文化大道甲6号北201室<br/> 食品流通许可证号：<br/>统一社会信用代码：91110105721420005Y</p>
        </div>
      
        </div>
    </footer>
</body>
</html>