<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>好利来蛋糕官网_蛋糕3小时紧急送达_口感不满即可退货</title>
    <link  rel="stylesheet" href="/css/header.css"/>
</head>
<body>
    <!--头部-->
    <header>
        <div class="header_logo">
            <a href="http://localhost:2000"><img src="../static/image/logo.png"/></a>
        </div>
        <nav>
            <ul class="header_ul">
                <li>
                    <a href="javascricp:;">
                    <span>All Products</span>
                    <span>全部产品</span>
                    </a>
                </li>
                <li>
                    <a  href="javascricp:;"> 
                    <span>Cake Series</span>
                    <span>蛋糕系列</span>
                    </a>
                    <div class="header_box">
                           <dl>
                               <dd><a href="javascript:;">经典系列</a></dd>
                               <dd><a href="javascript:;">儿童系列</a></dd>
                               <dd><a href="javascript:;">冰淇淋系列</a></dd>
                               <dd><a href="javascript:;">珍爱系列</a></dd>
                               <dd><a href="javascript:;">尊爱系列</a></dd>
                           </dl>
                    </div>
                </li>
                <li>
                    <a  href="javascricp:;">
                    <span>Wagashi</span>
                    <span>零食糕点</span>
                    </a>
                </li>
                <li>
                    <a  href="javascricp:;">
                    <span>About Us</span>
                    <span>关于我们</span>
                    </a>
                </li>
            </ul>
         
        </nav>
        <div class="header_left">
            <ul>
               <a  href="http://localhost:2000/html/login.html?;"><li>登录</li></a>
               <a  href="http://localhost:2000/html/register.html?;"><li>注册</li></a>
            </ul>
            <ul>
                <a  href="javascricp:;"><li>
                    <img src="../static/image/dizhi_icon.png"/>
                    北京</li>
                </a>
                <a  href="javascricp:;">
                    
                    <li>
                        <img src="../static/image/cart_icon.png"/>
                        0件</li>
                </a>
             </ul>
            <p>400-700-5999</p>
            <form>
                <input type="text">
            </form>
        </div>
    </header>
</body>
</html>