@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

main{
    width:1246px ;
    height: 365px;
    margin: 0 auto;
    position: relative;
}

main .register_hade{
    width:1246px ;
    border-top: 1px dashed #ccc;
    color:#909090;
}
main .register_hade .register_hade_p {
    width: 100px;
    height: 27px;
    margin: 0 530px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -12px;
}
main form{
    width:389px ;
    height: 398px;
    margin: 0 auto;
    margin-top: 112px;
}
main form dl{
    width: 389px;
    height: 52px;
    margin-bottom: 12px;

}
main form dl dt{
    width: 109px;
    height: 36px;
    text-align: center;
    margin-right:5px;
    background: #ededed;
    padding-top: 16px; 
    float: left;
}
main form dl dd{
    width: 273px;
    height: 52px;
    float: left;
}
main form dl:nth-child(2) input{
    width: 180px;
    height: 52px;
    float: left;
}
main form dl:nth-child(2) a{
    display: inline-block;
    width: 93px;
    height: 38px;
    float: left;
    background: #ededed;
    padding-top: 16px; 
    text-align: center;
    font-size: 14px
}
main form dl dd input{
    width: 273px;
    height: 50px;
    border: none;
    background: #ededed;
    font-size: 15px;
}
main form dl dd input:focus {
    outline:none;
}
main form .login_bt{
    width:389px ;
    height: 52px;
    margin: 0 auto;
}
main form button{
    width:245px ;
    height: 52px;
    margin: 0 auto;
    background:#87d0e3 ;
    color: #fff;
    border: none;
    float: left;
    margin-right: 14px;
}
main form button:focus {
    outline:none;
}
main form a{
    display:block;
    width:128px ;
    height: 36px;
    background: #ededed;
    float: left;
    padding-top: 16px; 
    text-align: center;
    font-size: 14px;
}
main form a:hover span{
    color: #87d0e3;
    border-bottom:1px solid #87d0e3; 
}